body {
  background-color: RGB(152, 180, 212);
}

.todo-page {
  margin: auto;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  display: block;
  border: white solid 10px;
  text-align: center;
}

.todo-page h1 {
  font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 5px;
}

.todo-page li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  list-style-type: none;
  font-size: 40px;
  font-family: "Fira Sans", sans-serif;
  }

.delete-task {
  color: white;
  background-color: #008CBA;
  appearance: none;
  border: none;
  margin-left: 40px;
  font-size: 30px;
  border: none;    
  height: 50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 50px;
}

.delete-task:hover {
  cursor: pointer;
  background-color: #555555;
  ;
}

.Input {
  position: relative;
}

.Input-text {
  display: block;
  margin: 0;
  padding: 7px;
  color: inherit;
  width: 98%;
  font-family: inherit;
  font-size: 20px;
  font-weight: inherit;
  line-height: 3px;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow 0.4;
  height: 30px;
}

.add-task {
  color: white;
  background-color: #008CBA;
  appearance: none;
  border: none;
  font-size: 30px;
  border: none;    
  height: 50px;
  border-radius: 5%;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.add-task:hover {
  cursor: pointer;
  background-color: #555555;
  ;
}